
<div class="bg-white px-4 py-5 sm:px-6">
<div class="-ml-4 -mt-4 flex justify-between items-center flex-wrap sm:flex-nowrap">
    <div class="ml-4 mt-4">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
        Workspace
    </h3>
    </div>
    <div class="ml-4 mt-4 flex-shrink-0">
      <%= render 'shareds/tables/button_back', action_path: gps_admin_gps_members_path %>
    </div>
</div>
</div>

<div class="flex flex-col py-5">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                No
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Workspace
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Kecamatan
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Desa
              </th>
              <th scope="col" class="relative px-6 py-3">
                <span class="sr-only">Action</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <!-- Odd row -->
            <% @workspaces.each.with_index(1) do |workspace, index| %>
                <tr class="bg-white">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                    <%= index %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <%= link_to gps_admin_gps_members_permohonan_path({ workspace_id: workspace.id }) do %>
                      <%= workspace.name %>
                    <% end %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <%= workspace.sub_district_name %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <%= workspace.village_name %>
                </td>
                <td>
                  <%= render 'shareds/tables/button_delete', 
                    action_path: gps_admin_gps_members_delete_workspace_path({ id: workspace.user.id, workspace_id: workspace.id }) 
                  %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>