<%= search_form_for(@search, url: intip_admin_permohonan_path, method: 'get') do |f| %>
<div class="grid w-full gap-4 md:grid-cols-2 sm:grid-cols-1 xl:grid-cols-4 bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
  <div>
  <div>
    <label for="dub_district" class="block text-sm font-medium text-gray-700">Kecamatan</label>
    <div class="mt-1">
      <%= f.text_field :sub_district_name_cont,
        value: @workspace.sub_district_name,
        class: "shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md",
        placeholder: 'nama kecamatan',
        disabled: true
      %>
    </div>
    </div>
  </div>
  <div>
  <div>
    <label for="village" class="block text-sm font-medium text-gray-700">Desa</label>
    <div class="mt-1">
        <%= f.text_field :village_name_cont,
          value: @workspace.village_name,
          class: "shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md",
          placeholder: 'nama desa',
          disabled: true
        %>
    </div>
    </div>
  </div>
  <div>
  <div>
    <label for="from_time" class="block text-sm font-medium text-gray-700">Dari Tanggal</label>
    <div class="mt-1">
        <%= f.date_field :created_at_gteq,
          value: @gteq_params,
          class: "shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
        %>
    </div>
    </div>
  </div>
  <div>
  <div>
    <label for="to_time" class="block text-sm font-medium text-gray-700">Sampai Tanggal</label>
    <div class="mt-1">
        <%= f.date_field :created_at_lteq,
          value: @gteq_params,
          class: "shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
        %>
    </div>
    </div>
  </div>
  <div >
    <%= f.submit "Search", class: "relative inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
  </div>
</div>
<% end %>