<% if params['success'] %>
  <%= render 'shareds/popup_revisions',
    links: params['links'],
    message: params['message']
  %>
<% end %>

<%= render 'shareds/section_title', title_name: 'Revisi' %>

<div class="bg-white shadow overflow-hidden ">
  <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
    <dl class="sm:divide-y sm:divide-gray-200">
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          To
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @submission.user.email %>
        </dd>
      </div>
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Kode
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @submission.submission_code %>
        </dd>
      </div>
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Nama Lengkap
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @submission.user.fullname %>
        </dd>
      </div>

      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Catatan
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= form_with(url: admin_process_member_revision_path(@submission), method: 'post') do %>
            <%= hidden_field_tag 'email', @submission.user.email %>
            <%= hidden_field_tag 'submission_code', @submission.submission_code %>
            <%= hidden_field_tag 'id', @submission.id %>
            <%= hidden_field_tag 'fullname', @submission.user.fullname %>
            <%= text_area_tag 'notes', nil, class: "mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md" %>  
            <div class="py-3 bg-white-50 text-right">
              <%= button_tag 'Kirim', class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"%>
            </div>
          <% end %>
        </dd>
      </div>
    </dl>
  </div>
</div>
