<%= render "shareds/section_title", title_name: "Detail Workspace : #{@workspace.name}" %>

<%= render 'intip_workspaces/table_filter' %>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="flex flex-col">
      <!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
  <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-nowrap">
    <div class="ml-4 mt-2">

    <div>
    </div>

    </div>
    <div class="ml-4 mt-2 flex-shrink-0">
      <%= link_to 'Ajukan Intip',
        intips_member_workspaces_new_submission_path,
        class: "relative inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500",
        method: :get
      %>
    </div>
  </div>
</div>

<div>
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8 py-1">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">

        <%= form_tag intips_member_workspaces_permohonan_process_data_path, method: :post do %>
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  No
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  <%= render "intips/column_header", title: 'NUI', column: 'nui'%>
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  <%= render "intips/column_header", title: 'NIB', column: 'nib'%>
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  <%= render "intips/column_header", title: 'Nama Instansi Pemerintah', column: 'name'%>
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  <%= render "intips/column_header", title: 'Kecamatan', column: 'sub_district_name'%>
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  <%= render "intips/column_header", title: 'Desa', column: 'village_name'%>
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  <%= render "intips/column_header", title: 'Alas Hak', column: 'hak_name'%>
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  <%= render "intips/column_header", title: 'Jenis Hak', column: 'hak_type'%>
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  <%= render "intips/column_header", title: 'Nomer Hak / Nomer Letter C', column: 'number_letter_c:'%>
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  <%= render "intips/column_header", title: 'Tanggal', column: 'date'%>
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  <%= render "intips/column_header", title: 'Jangka Waktu', column: 'time_range'%>
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  <%= render "intips/column_header", title: 'Penguasaan Tanah', column: 'land_control'%>
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  <%= render "intips/column_header", title: 'Peruntukan Tanah', column: 'land_allocation'%>
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  <%= render "intips/column_header", title: 'Penggunaan Tanah', column: 'land_use'%>
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  <%= render "intips/column_header", title: 'Pemanfaatan Tanah', column: 'land_utilization'%>
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  <%= render "intips/column_header", title: 'Luas (M2)', column: 'land_size'%>
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  <%= render "intips/column_header", title: 'Lat', column: 'lattitude'%>
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  <%= render "intips/column_header", title: 'Lng', column: 'longitude'%>
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  <%= render "intips/column_header", title: 'Keterangan', column: 'description'%>
                </th>
              </tr>
            </thead>
            <tbody>
              <% @results.each.with_index(1) do |intip, index|%>
                <tr class="bg-white">
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <%= check_box_tag "submission_ids[]", intip.id %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <%= index %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <%= intip.nui %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <%= intip.nib %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <%= intip.name %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <%= intip.sub_district_name %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <%= intip.village_name %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <%= intip.alas_name %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <%= intip.hak_name %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <%= intip.hak_number %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <%= Formatter.date_dmy(intip.date) %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <%= intip.time_range %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <%= intip.land_control %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <%= intip.land_allocation %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <%= intip.land_use %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <%= intip.land_utilization %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <%= intip.land_size %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <%= intip.lattitude %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <%= intip.longitude %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <%= intip.description %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <% if @results.any? %>
            <div class="p-5">
              <%= submit_tag "Kirim", name: 'button',class: "inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
              <%= submit_tag "Hapus", name: 'button', class: "inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "shareds/pagination", data: @results, name: '' %>
  